.task-card{
    width: 250px;
    height: 300px;
    border: 2px solid black;
    padding: 1.5rem;
    background-color: whitesmoke;
    border-radius: 7px;
    cursor: pointer;

    #task-heading{
        text-align: center;
        margin-bottom: 1rem;
    }

    .task-info{
        margin-bottom: 2rem;

        .task-key{
            font-size: 0.8rem;
            font-weight: 700;
            margin-bottom: 0.4rem;
        }
    }

    

}